body {
  margin: 0;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  display: inline-block;
  margin: 4px 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: var(--vscode-editor-background);
}

.largeButtonStyle {
  background-color: #5e7cbb;
  border: 0px solid;
  padding: 5px 20px;
  color: #fefefe;
  height: 50px;
  border-radius: 12px;
  top: 0px;
  margin: 5px 0px;
  display: inline-block;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  top: 0px;
}

.smallButtonStyle {
  background-color: cadetblue;
  color: antiquewhite;
  border: 0px solid;
  height: 30pt;
  width: 100pt;
  border-radius: 10px;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
}

#leftThing {
  width: 25%;
  position: sticky;
  position: -webkit-sticky;
}

#middleThing {
  width: 50%;
  position: sticky;
  position: -webkit-sticky;
}

#rightThing {
  width: 25%;
  position: sticky;
  position: -webkit-sticky;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
  width: 90%;
}

th,
td {
  padding: 0.25rem;
  border: 1px solid;
}

th {
  background: white;
  position: sticky;
  position: -webkit-sticky;
  padding: -chrome-sticky;
  top: 62px;
  margin-top: 62px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background-color: var(--vscode-sideBar-background);
  text-align: center;
  padding: 15px 15px;
}

tr:nth-child(even) {
  background-color: var(--vscode-sideBar-background);
  padding: 0;
}

input {
  background-color: transparent;
  color: var(--vscode-editor-foreground);
  border-color: transparent;
  height: 100%;
  width: 95%;
  display: inline-block;
  margin: 0px 3px;
  padding: 0px 2px;
}

p {
  text-align: center;
}

.topdiv {
  width: 100%;
  background-color: var(--vscode-editor-background);
  z-index: 200;
  top: 0px;
  position: sticky;
  position: -webkit-sticky;
  padding: -chrome-sticky;
}